
<div class="border border-danger p-2 m-2">
  <h1>Edit Course</h1>
  <div [formGroup]="courseForm">
    <input type="text" placeholder="Enter Course Title" formControlName="title"><br>
    <div *ngIf="courseForm.controls.title.touched && courseForm.controls.title.errors">
      <h4 class="text-danger" *ngIf="courseForm.controls.title.errors['required']">Title is a mandatory field</h4>
      <h4 class="text-danger" *ngIf="courseForm.controls.title.errors['minlength']">Title must have at least 3 chars</h4>
      <h4 class="text-danger" *ngIf="courseForm.controls.title.errors['courseExistError']">Given title already exist</h4>
    </div>
    <input type="text" placeholder="Enter Course Price" formControlName="price"><br>
    <div *ngIf="courseForm.controls.price.touched && courseForm.controls.price.errors">
      <h4 class="text-danger" *ngIf="courseForm.controls.price.errors['required']">Price is a mandatory field</h4>
      <h4 class="text-danger" *ngIf="courseForm.controls.price.errors['notNumberError']">Price must be a number</h4>
    </div>
    <input type="text" placeholder="Enter Course Trainer" formControlName="trainer"><br>
    <button (click)="updateCourse()">Update Course</button>
  </div>
</div>