<table align="center" width="50%" class="table table-striped table-md">
  <thead>
    <th>Sno.</th>
    <th (click)="updateKey('firstname')">First Name</th>
    <th (click)="updateKey('lastname')">Last Name</th>
    <th (click)="updateKey('age')">Age</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students|sort:key;let i=index">
      <td>{{i+1}}</td>
      <td>{{student.firstname}}</td>
      <td>{{student.lastname}}</td>
      <td>{{student.age}}</td>
    </tr>
  </tbody>
</table>



<h1 style="text-transform:uppercase;">welcome to edupoly</h1>
<h1>{{"welcome to edupoly"|uppercase}}</h1>
<h4>{{title|uppercase}}</h4>
<h1>{{coursecost|currency:'JPY'}}</h1>
<h1>{{startDate | date:'long'}}</h1>
<ul>
  <li *ngFor="let v of heights|mypipe">{{v}}</li>
</ul>
