<input type="text" [(ngModel)]="newtask">
<br/>
<input type="radio" [(ngModel)]="gender" value="female">:Female &nbsp;&nbsp;&nbsp;
<input type="radio" [(ngModel)]="gender" value="male">:Male &nbsp;&nbsp;&nbsp;
<input type="radio" [(ngModel)]="gender" value="others">:Others &nbsp;&nbsp;&nbsp;
<h1>{{gender}}</h1>
<span *ngFor="let tech of technologies">
  <input type="checkbox" value={{tech}} (change)="xyz($event)">:{{tech}}
</span>
<ul>
  <li *ngFor="let tech of selectedTechs">
    {{tech}}
  </li>
</ul>
<br>
<br>
<br>
<br>
<button (click)="addTask()">Add Task</button>
<ul>
  <li *ngFor="let task of tasks">
    {{task}}
  </li>
</ul>
